<div id="<%= dom_id publication %>">
  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= publication.class_id %>
  </p>

  <p>
    <strong>Likes number:</strong>
    <%= publication.likes_number %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= publication.contents %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= publication.duration %>
  </p>

  <p>
    <strong>Modality:</strong>
    <%= publication.modality %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= publication.price %>
  </p>

</div>
