<p><%= @publication.description %></p>
<p><%= @publication.contents %></p>
<p><%= @publication.price %></p>
<p><%= @publication.duration %></p>
<p><%= @publication.modality %></p>
<p><%= @publication.likes_number %></p>
<ul>
    <li><%= link_to "Edit", edit_publication_path(@publication.id) %></li>
    <li><%= link_to "Destroy", publication_path(@publication.id), method: :delete %></li>
</ul>
