<p style="color: green"><%= notice %></p>

<h1>Solicitudes</h1>

<br/>
<br/>

<table class="table table-striped  table-hover table-bordered border-primary "  >

  <thead>
    <tr>
      <th>User emit</th>
      <th>User recive</th>
      <th>Status</th>
      <th colspan="3"></th>

    </tr>

  </thead>
  
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td> <%= request.user_emit_id  %> </td>
        <td> <%= request.user_recive_id  %> </td>
        <td> <%= request.status %> </td>
        <td> <%= link_to 'Show', request %> </td>
        <td> <%= link_to 'Edit', edit_request_path(request) %> </td>
        <td> <%= link_to 'Cancel', request, method: :delete, data: { confirm: 'Estás seguro?'} %> </td>

      </tr>
    <% end %>  




      
    </tbody>

</table>

<br/>
<br/>

<%= link_to "New request", new_request_path %>
