
<h1>Reviews about <%=@user_receive.name%></h1>

<ul>
    <% @reviews.each do |review| %> 
        <li>
            <%= "Feedback: #{review.feedback} "%>
        </li>
            <%= "Score: #{review.score} "%>
    <% end %>
</ul>

<%= link_to 'New Review', new_user_review_path(@user) %>

<%= link_to 'Back', user_path(@user) %>





